<h1>フォロワー一覧</h1>
<ul>
<% if @user.followers.exists? %>
  <% @user.followers.each do |user| %>
    <li><%= link_to user.name, user_path(user.id) %></li>
  <% end %>
<% else %>
  <p>フォロワーはいません</p>
<% end %>
</ul>
