<h1>フォロー一覧</h1>
<ul>
<% if @user.followings.exists? %>
  <% @user.followings.each do |user| %>
    <li><%= link_to user.name_or_email, user_path(user.id) %></li>
  <% end %>
<% else %>
  <p>フォローしているユーザーはいません</p>
<% end %>
</ul>
