<h1>フォロー一覧</h1>
<ul>
<% if @user.followings.exists? %>
  <% @user.followings.each do |user| %>
    <% if user.name.blank? %>
      <li><%= link_to user.email, user_path(user.id) %></li>
    <% else %>
      <li><%= link_to user.name, user_path(user.id) %></li>
    <% end %>  <% end %>
<% else %>
  <p>フォローしているユーザーはいません</p>
<% end %>
</ul>
